body{
    font-family: 'Lucida Sans',Geneva, Verdana, sans-serif,'Times New Roman', Times, serif;
}

.heading{
    color: black;
    background-color: rgb(221, 227, 231);
    text-align: center;
    padding: 8px;

}

.list{
    text-align: center;
    background-color: #c6e5fc;
    padding: 8px;
    list-style-type: none;
}

.link1, .link2, .link3{
    color: rgb(0, 0, 0);
    background-color: rgb(143, 212, 245);
    margin-bottom: 8px;
    padding: 6px;
    font-size: 18px;
}

.link3{
    margin-bottom: 0;
}

.link1{
    margin-top: 0;
}

.link1:hover, .link2:hover, .link3:hover{
    background-color: rgb(156, 215, 243);
}

/* making a clickable div */
a { 
    display: block;
}


