
body {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.title {
    color: black;
    background-color: rgb(221, 227, 231);
    text-align: center;
    padding: 8px;
    font-size: 40px;

}

#heading{
    text-align: center;
    background-color: rgb(253, 169, 99);
    padding: 8px;
}
